div#info {
    margin: 5%;
    padding: 5% 8%;
    
    border-radius: 15px;
   color: black;
}

div#info div#container {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   
   border-radius: 15px;
}

div#info div#container {
    background-color: #bababa;
}



div#info div#container div#image {
    max-width:100%;
    height:auto;
}

div#info div#container div#details {
   margin: 5%;
   padding: 2%;
   width: 80%;
   border: 1px solid #0060b5;
   border-radius: 10px;
   text-align: center;
   font-size: 25px;
}

